$breakpoint-mobile: 767px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1920px;

@mixin mobile() {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $breakpoint-tablet) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: 1024px) and (max-width: $breakpoint-desktop) {
    @content;
  }
}
