$color-primary: #3498db;
$color-secondary: #30107D;
$color-secondary-light: #401A9B;
$color-white: #fff;
$color-muted: #B9B9B9;
$color-success: #06D6A2;
$color-danger: #E23161;
$color-danger-dark: #DB3766;

$text-muted: $color-muted;
$text-color: #4C5A5A;
$text-white: #fff;

$background: #F1F5F8;
$background-secondary: $color-secondary;
$background-green: #06D7A5;
$background-red: #DB3766;
$font-family: 'Roboto', "Poppins", sans-serif;

$size-14: 0.875rem; // 14px
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-24: 1.5rem;
$size-26: 1.625rem;
$size-42: 2.625rem;


$border-radius: 0.5rem;
